/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Catamaran', sans-serif;
  background-color: #262626;
  overflow: hidden;
}

main {
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

button {
  padding: 5px 16px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

a {
  color: #7289da;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
  display: none;
}

.red {
  background-color: #f04647;
}

.yellow {
  background-color: #faa51a;
}

.green {
  background-color: #42b481;
}

.blue {
  background-color: #7289da;
}