.channel-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: calc(100% - 240px);
  overflow: hidden;
}

.channel-header {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #36393f;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  z-index: 2;
  user-select: none;
}

.channel-title {
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-right: 8px;
  text-transform: lowercase;
  white-space: nowrap;
}

.channel-title i {
  color: #72767d;
  margin-right: 8px;
  font-size: 20px;
  font-size: 22px;
}

.vertical-divider {
  margin: 0px 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.059);
  height: 24px;
}

.channel-topic {
  margin-left: 8px;
  color: #b9bbbe;
  font-size: 14px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}