.modal-background {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: emerge;
  animation-duration: 0.25s;
}

@keyframes emerge {
  0% {
    transform: scale(0.5, 0.5) translate(-75%, -75%);
    opacity: 0%;
  }
  60% {
    transform: scale(1.02, 1.02) translate(-49%, -49%);
    opacity: 70%;
  }
  100% {
    transform: scale(1, 1) translate(-50%, -50%);
    opacity: 100%;
  }
}