.server-header {
  height: 48px;
  background-color: #2f3136;
  color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;
  position: relative;
  user-select: none;
}

.server-title-container {
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.server-title-container:hover {
  background-color: #36393f;
}

.server-header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
}

.server-dropdown {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 24px);
  padding: 6px 4px;
  background-color: #18191c;
  cursor: default;
}

.dropdown-option {
  box-sizing: border-box;
  height: 32px;
  margin: 2px 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #b9bbbe;
  text-transform: capitalize;
}

.dropdown-option:hover {
  background-color: rgba(79, 84, 92, 0.16);
  color: #dcddde;
}

.icon-container {
  min-width: 24px;
  text-align: center;
}

.destructive {
  color: #f04747;
}

.destructive:hover {
  color: #f04747;
}

.server-dropdown.active {
  animation: drop-down 0.1s linear;
}

@keyframes drop-down {
  0% {
    opacity: 60%;
    transform-origin: top;
    transform: scale(0.5, 0.5) translate(-100%, -5%);
  }
  100% {
    opacity: 100%;
  }
}