.servers-nav {
  height: 100vh;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  background-color: #202225;
}

.servers-nav-icon {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  position: relative;
  background-color: #36393f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 8px;
}

.servers-nav-icon:hover {
  text-decoration: none;
  border-radius: 16px;
}

.servers-nav .tooltip {
  display: none;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 2;
  border-radius: 4px;
  padding: 10px 10px;
  max-width: 160px;
  width: max-content;
  word-wrap: none;
  left: 54px;
}

.servers-nav .tooltip:before {
  content: '';
  background-color: transparent;
  height: 0px;
  width: 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid black;
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.servers-nav-icon:hover .tooltip {
  display: block;
}

.home-button-container {
  padding: 5px 0px;
}

.home-button:hover {
  background-color: #7289da;
}

.server-separator {
  width: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  margin-bottom: 10px;
}

.server-add-button {
  color: #43b581;
  font-size: 40px;
}

.server-add-button:hover {
  background-color: #43b581;
  color: white;
}