.content-container {
  display: flex;
  flex-grow: 1;
  max-width: calc(100% - 72px);
}

.content-sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f3136;
}

.user-footer {
  min-height: 52px;
  background-color: #292b2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
}

.username-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 1;
}

.user-footer .username {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.user-footer .user-tag {
  font-size: 12px;
  color: #b9bbbe;
}

.avatar-mini {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #7289da;
  color: white;
  margin-right: 8px;
  cursor: pointer;
}

.avatar-mini:hover {
  background-color: #677bc4;
}