.content-container {
  display: flex;
  flex-grow: 1;
  max-width: calc(100% - 72px);
}

.content-sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f3136;
}

.session-footer {
  min-height: 52px;
  background-color: #292b2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  user-select: none;
}

.username-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 1;
  max-width: 98px;
}

.session-footer .username {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.session-footer .user-tag {
  font-size: 12px;
  color: #b9bbbe;
}

.avatar-mini {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2em;
  color: white;
  background-color: #202225;
  user-select: none;
  cursor: pointer;
}

.avatar-mini:hover {
  opacity: 0.8;
}

.logout-button {
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
  background-color: #2f3136;
  width: auto;
  color: #f04747;
  border: 1px solid rgba(240, 71, 71, 0.5);
}

.logout-button:hover {
  background-color: rgba(240, 71, 71, 0.1);
  border-color: rgba(240, 71, 71, 0.7);
}