.splash {
  height: 100vh;
  width: 100%;
}

.splash-nav {
  height: 72px;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.splash-nav ul {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  fill: white;
  padding-right: 12px;
}

.splash-logo {
  width: 33px;
}

.splash-logo-text {
  width: 98px;
}

@media screen and (max-width: 1024px) {
  .splash-logo-text {
    display: none;
  }
}


.splash-nav li {
  padding: 15px 10px;
  margin-right: 8px;
}

.splash-nav li i {
  font-size: 10px;
}

.splash-nav li a {
  color: white;
  font-weight: 400; 
  opacity: 0.8;
  transition: opacity 0.2s;
}

.splash-nav li a:hover {
  text-decoration: none;
  opacity: 1.0;
  transition: opacity 0.2s;
}

.splash-nav .button {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 3px 17px;
  margin-right: 18px;
}

.splash-content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 810px;
  padding: 72px 50px 0px;
  color: #737f8d;
  text-align: center;
}

.splash-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 12px;
}

.splash-content p {
  margin-bottom: 30px;
  line-height: 24px;
}

.splash-buttons-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.splash-button-container {
  position: relative;
  width: 250px;
  height: 45px;
}

.splash-content a {
  width: 250px;
  height: 45px;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 16px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.2s;
}

.splash-content a:hover {
  top: 2px;
  text-decoration: none;
  transition: top 0.2s;
}

.download-button {
  background-color: white;
  color: black;
}

.open-app-button {
  background-color: #7289da;
  color: white;
}