.splash {
  width: 100%;
  overflow-y: scroll;
}

.splash-nav {
  height: 72px;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.splash-nav ul {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  fill: white;
  padding-right: 12px;
}

.splash-logo {
  width: 33px;
}

.splash-logo-text {
  width: 98px;
}

@media screen and (max-width: 1024px) {
  .splash-logo-text {
    display: none;
  }
}

.splash-nav li {
  padding: 15px 10px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.splash-nav li i {
  font-size: 24px;
}

.splash-nav li a {
  color: white;
  font-weight: 400; 
  opacity: 0.8;
  transition: opacity 0.2s;
}

.splash-nav li a:hover {
  text-decoration: none;
  opacity: 1.0;
  transition: opacity 0.2s;
}

.splash-nav .button {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 3px 17px;
  margin-right: 18px;
  height: 30px;
  display: flex;
  align-items: center;
}

.splash-content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 810px;
  padding: 72px 50px 0px;
  color: #737f8d;
  text-align: center;
}

.splash-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 12px;
}

.splash-content p {
  margin-bottom: 10px;
  line-height: 24px;
}

.splash-buttons-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.splash-button-container {
  width: 250px;
  height: 45px;
  margin-top: 20px;
}

.splash-content a {
  width: 250px;
  height: 45px;
  padding: 10px;
  margin-top: 1px;
  font-size: 15px;
  padding: 5px 16px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s;
}

.splash-content a:hover {
  text-decoration: none;
  transform: translateY(2px);
}

.download-button {
  background-color: white;
  color: black;
}

.open-app-button {
  background-color: #7289da;
  color: white;
}

.splash-art-container {
  width: 100%;
  min-height: 638px;
  position: relative;
  margin-bottom: 72px;
}

.splash-art-container img {
  position: absolute;
  left: 50%;
  transition: all 0.5s ease-in-out;
}

.splash-bg {
  opacity: 0.3;
}

.grounded {
  bottom: 10px;
}

.floating {
  animation: floating 1.5s ease-in-out 0s infinite alternate;
}

@keyframes floating {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

#triangle-1 {
  margin-left: 31px;
  bottom: 550px;
}

#triangle-2 {
  margin-left: -289px;
  bottom: 448px;
}

#triangle-3 {
  margin-left: -579px;
  bottom: 300px;
}

#dot-1 {
  margin-left: -319px;
  bottom: 600px;
}

#dot-2 {
  margin-left: 531px;
  bottom: 600px;
}

#dot-3 {
  margin-left: 181px;
  bottom: 500px;
}

#dot-4 {
  margin-left: -599px;
  bottom: 200px;
}

#circle-1 {
  margin-left: -359px;
  bottom: 530px;
}

#circle-2 {
  margin-left: 576px;
  bottom: 280px;
}

#circle-3 {
  margin-left: -199px;
  bottom: 88px;
}

#square-1 {
  margin-left: 331px;
  bottom: 600px;
}

#square-2 {
  margin-left: 431px;
  bottom: 400px;
}

#square-3 {
  margin-left: 17px;
  bottom: 92px;
}

#cross-1 {
  margin-left: -579px;
  bottom: 510px;
}

#cross-2 {
  margin-left: 101px;
  bottom: 440px;
}

#cross-3 {
  margin-left: 541px;
  bottom: 220px;
}

#potion {
  margin-left: -609px;
}

#bomb {  
  margin-left: -481px;
  bottom: 335px;
  animation-delay: 0.4s;
}

#coin-1 {
  margin-left: 80px;
  bottom: 530px;
}

#coin-2 {
  margin-left: -428px;
  bottom: 300px;
}

#cartridge {
  margin-left: 250px;
  bottom: 392px;
}

#shield {
  margin-left: 423px;
}

#box {
  margin-left: -239px;
  bottom: 462px;
}

#desktop {
  margin-left: -289.5px;
}

#android {
  margin-left: -548px;
}

#iphone {
  margin-left: -401.5px;
}

#controller {
  margin-left: -255px;
}

#laptop {
  margin-left: -4px;
}

#headphones {
  transform: scale(.75);
  margin-left: 270px;
  bottom: 142px;
}

#splash-art-shadow {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1300px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.1);
}

@media screen and (max-width: 848px) {
  .splash-art-container img {
    display: none;
  }

  #android, #iphone, #laptop, #headphones {
    display: block;
  }

  .splash-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  #android {
    margin-left: -384px;
  }

  #iphone {
    margin-left: -229.5px;
  }

  #laptop {
    margin-left: -124px;
  }
}